@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$prim-color: #FF6060;
$sec-color: #fff;
$ter-color: #f6f6f6;

$main-radius: 1rem;
$sec-radius: .5rem;
$ter-radius: .25rem;
$main-gap: 2.5rem;
$sec-gap: 1rem;


$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 992px;

$breakpoints: (
  "small": (
    min-width: $mobile-landscape,
  ),
  "medium": (
    min-width: $tablet,
  ),
  "large": (
    min-width: $desktop,
  ),
); 

$breakpoints: (
    s: (
        min: $mobile-landscape,
        max: $mobile-landscape - 0.02px
    ),
    m: (
        min: $tablet,
        max: $tablet - 0.02px
    ),
    l: (
        min: $desktop,
        max: $desktop - 0.02px
    ),
    xl: (
        min: $desktop + 200px,
        max: $desktop + 199.98px
    ),
    xxl: (
        min: $desktop + 400px,
        max: $desktop + 399.98px,
    )
);
