@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

html, body, #root {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (max-width: 567.98px) {
  header {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  gap: 2.5rem;
}
@media (max-width: 567.98px) {
  .header__menu {
    gap: 1rem;
  }
}
.header__menu a {
  color: #FF6060;
  font-size: 1.25rem;
  position: relative;
}
@media (max-width: 567.98px) {
  .header__menu a {
    font-size: 1.2rem;
  }
}
.header__menu a.active::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #FF6060;
  position: absolute;
  bottom: 2px;
  left: 0;
}

.header__logo-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__logo-container img {
  max-height: 100%;
  width: auto;
  display: block;
}
@media (max-width: 567.98px) {
  .header__logo-container img {
    max-height: 60%;
  }
}

main {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  gap: 2.5rem;
}
@media (max-width: 567.98px) {
  main {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
  }
}

.top-section {
  position: relative;
}
.top-section img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  filter: contrast(60%);
}
.top-section br {
  display: none;
}
@media (max-width: 567.98px) {
  .top-section br {
    display: block;
  }
}
.top-section p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 991.98px) {
  .top-section p {
    font-size: 1.5rem;
  }
}
@media (max-width: 567.98px) {
  .top-section p {
    text-align: left;
    font-size: 1.25rem;
    transform: translate(-75%, -50%);
  }
}

.gallery {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  border-radius: 1rem;
  padding: 2.5rem;
  background-color: #f6f6f6;
}
@media (min-width: 1392px) {
  .gallery {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 991.98px) {
  .gallery {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 567.98px) {
  .gallery {
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    background-color: #fff;
  }
}

.card {
  position: relative;
  border-radius: 0.5rem;
  height: 100%;
  aspect-ratio: 1/1;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #000000 100%);
  border-radius: 0.5rem;
}
.card:hover:after {
  opacity: 0.5;
}
.card img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.card h2 {
  color: #fff;
  font-size: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin: 0;
  padding: 0;
  z-index: 1;
}

footer {
  color: #fff;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5rem;
  margin-top: auto;
}
footer nav {
  margin-bottom: 1.25rem;
}
footer p {
  font-size: 1.5rem;
}
@media (max-width: 567.98px) {
  footer p {
    font-size: 0.9rem;
    max-width: 35%;
    text-align: center;
  }
}

.accordion-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin: 0 2.5rem;
}
@media (max-width: 567.98px) {
  .accordion-container {
    margin: 0;
  }
}

.accordion__label {
  background-color: #FF6060;
  border-radius: 0.25rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.accordion__label h2 {
  color: #fff;
  font-weight: 500;
}
@media (min-width: 568px) {
  .accordion__label h2 {
    font-size: 1.25rem;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 568px) {
  .icon-container img {
    transform: scale(1.25);
  }
}
@media (max-width: 567.98px) {
  .icon-container img {
    font-size: 1rem;
  }
}

.content-parent {
  height: 0px;
  overflow: hidden;
  transition: height ease 500ms;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  position: relative;
  transform: translate(0, -5px);
  z-index: -1;
}

.content {
  color: #FF6060;
  background-color: #f6f6f6;
  padding: 1rem;
  padding-top: 1rem;
  animation: appearance 750ms ease-out;
  animation-delay: 900ms;
}
@keyframes appearance {
  0% {
    opacity: 0;
    transform: translateY(-25rem);
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.error-page {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  gap: 1rem;
}
.error-page h1 {
  font-size: 8rem;
  font-weight: 700;
  color: #FF6060;
}
@media (max-width: 567.98px) {
  .error-page h1 {
    font-size: 4rem;
  }
}
.error-page h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #FF6060;
  padding: 1rem;
}
@media (max-width: 567.98px) {
  .error-page h2 {
    font-size: 1.25rem;
  }
}
.error-page a {
  background-color: #FF6060;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #FF6060;
}
@media (max-width: 567.98px) {
  .error-page a {
    margin-top: 2.5rem;
  }
}
.error-page a:hover {
  background-color: #fff;
  color: #FF6060;
  border: 1px solid #FF6060;
}

.specs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 568px) {
  .specs {
    margin-top: -1rem;
  }
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  color: #FF6060;
}
@media (max-width: 567.98px) {
  .top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.5rem;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.left h1 {
  font-size: 1.5rem;
  font-weight: 500;
}
.left h2 {
  font-size: 0.9rem;
}

.tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  flex-wrap: wrap;
}
.tag-container .tag {
  background-color: #FF6060;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  padding: 0.25rem 2rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 100%;
}
@media (max-width: 567.98px) {
  .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
  }
}

.host {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 567.98px) {
  .host {
    gap: 0.5rem;
  }
}

@media (max-width: 567.98px) {
  .profil-name p {
    font-size: 0.8rem;
  }
}

.profil-picture {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 567.98px) {
  .profil-picture {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.profil-picture img {
  -o-object-position: left bottom;
     object-position: left bottom;
  transform: scale(50%);
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 0.25rem;
}
@media (max-width: 567.98px) {
  .rating {
    gap: 0;
  }
}
.rating img {
  transform: scale(0.75);
}
@media (max-width: 567.98px) {
  .rating img {
    transform: scale(0.6);
    margin: -0.15rem;
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 2.5rem;
}
@media (max-width: 767.98px) {
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
  }
}
.bottom .accordion__label {
  border-radius: 0.5rem;
}
.bottom .accordion {
  width: 100%;
}

.slideshow {
  height: 50vh;
  position: relative;
}
@media (max-width: 567.98px) {
  .slideshow {
    height: 40vh;
  }
}
.slideshow p {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 500;
}

.room-picture {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1rem;
}

.slide {
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.back {
  left: 0;
  justify-content: start;
}

.forward {
  height: 100%;
  right: 0;
}

.arrow {
  transform: scale(0.7);
}

.hide {
  display: none;
}/*# sourceMappingURL=style.css.map */